@page
@model Events.RazorWebApp.Pages.CustomerPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form>
        <div>
            <label class="control-label">Search by</label>
            <div class="row col-10">
                <div class="col-10 row">
                    <div class="col-8">
                        <input class="form-control" asp-for="Search" style="margin-right: 10px" placeholder="Enter search criteria e.g. name:A, phoneNumber:B, email:C" />
                    </div>
                    <div class="col-6">
                        <input type="submit" value="Search" class="btn btn-primary col-6" />
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CustomerId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(Model.Pagination.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" href="?Search=@Model.Search&SearchType=@Model.SearchType&pageIndex=@(Model.Pagination.PageIndex - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (var i = 1; i <= Model.Pagination.TotalPages; i++)
        {
            <li class="page-item @(i == Model.Pagination.PageIndex ? "active" : "")">
                <a class="page-link" href="?Search=@Model.Search&SearchType=@Model.SearchType&pageIndex=@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.Pagination.HasNextPage ? "" : "disabled")">
            <a class="page-link" href="?Search=@Model.Search&SearchType=@Model.SearchType&pageIndex=@(Model.Pagination.PageIndex + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
